<span class="{{ div_uuid }}">
    <span class="purchase-button">
        <button id="customButton" type="button" class="btn btn-default">
            Purchase
        </button>
        <span id="ajax-target">
        </span>
    </span>
</span>    
